.main-content{
    padding: 50px;
    // background: url('./../../../../assets/img/background_body.png') center center; 
    background-size: cover;
    background-position: 0 0;

    @media screen and (max-width: 786px){
        width: 100%;
        padding: 20px;
    }
}
:host ::ng-deep.p-card{
    background-color: unset;
    width: 100%;
    color: white;
    margin: auto;
    border: 1px solid white;
    @media screen and (max-width: 440px){
        width: 100%;
    }
}

:host ::ng-deep.p-steps .p-steps-item .p-menuitem-link {
    background: unset;
    color: white;
}
:host ::ng-deep.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    color: white;

}
:host ::ng-deep.p-disabled{
    opacity: 1;
}

.flex-center {
    flex: 1; /* This will make the "Send" element occupy remaining space and be centered */
    display: flex;
    justify-content: center;
  }
  
  
  
  :host ::ng-deep.p-inputtext{
    background: unset;
  }
  :host ::ng-deep.p-inputgroup-addon {
    background: unset;
  }