::ng-deep body.dark-only .page-wrapper .page-header {
    background-color: hsl(225, 14%, 17%);
}
.header-wrapper{
    max-width: 1576px;
}
::ng-deep .logo-wrapper{
    display: flex;
    justify-content: space-between;
}
