footer{
    background-color: #000;
    border-top: 0.5px solid #7c028f;
    font-family: Zen Dots, sans-serif;
    margin-bottom: 0;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    // margin-top: 125px;
    @media screen and (max-width: 991px){
        width: 100%;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 768px){
        width: 100%;

    }
    @media screen and (max-width: 426px){
        // width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
}

.heading-9 {
    color: #fff;
    letter-spacing: 1px;
    font-family: Zen Dots,sans-serif;
    font-size: 22px;
    font-weight: 400;

    
}
m-0{
    margin: 0 !important;
    margin-block: 0;
}

.text-block-11{
    font-size: 15px ;
}

:host ::ng-deep.p-button.p-button-outlined {
    color: unset
}


.section{
    padding-right: 25px;
    width: 100%;
    @media screen and (max-width: 991px){
        margin-bottom: 20px;
        padding-right: 0px;
    }
}


.p-inputgroup {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    display: flex;
}

.mt-10{
    margin-top: 10px
}

:host ::ng-deep.p-menu {
    background: unset;
    border: unset;
    width: 100%;
}
:host ::ng-deep.p-menu .p-menuitem-link .p-menuitem-text {
    color: #fff; 
}
:host ::ng-deep.p-menu .p-menuitem-link:hover {
    background: unset;
    color: #0038ff;
    .p-menuitem-text{
        color: #0038FF;
    }
}
:host ::ng-deep.p-menuitem-text > .text-base{
    font-weight: 600 !important;
    font-family: Zen Dots, sans-serif;
    font-size: 1.5rem !important;

}
:host ::ng-deep.p-menu .p-menuitem-link:active {
    border: unset;
}