<footer>
    <div class="section">
        <div class="m-0 heading-9">Don't Miss Out, Stay Updated</div>
        <div class="text-block-11"><p class="text-block-11">Subscribe and follow our social media channels for daily updates.</p></div>
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="" />
            <button type="button" pButton label="Search"></button>
        </div>
    </div>
    <div class="section">
        <div class="text-block-11 m-0">Suhosin Wars is an MMORPG set in the middle ages of magic and steel where humanoid guardians protect the balance of their magical world from evil forces trying to destroy peaceful harmony.</div>
        <div class="text-block-11 mt-10">
            <p-button icon="pi pi-twitter px-5"></p-button>&nbsp;
            <p-button icon="pi pi-instagram"></p-button>&nbsp;
            <p-button icon="pi pi-facebook"></p-button>&nbsp;
            <p-button icon="pi pi-discord"></p-button>&nbsp;
            <p-button icon="pi pi-telegram"></p-button>&nbsp;
        </div>
    </div>
</footer>