<footer id="contact">
    <div class="container flex flex-wrap justify-content-center">
        <div class="flex flex-wrap gap-2 content">
            <div class="flex flex-column flex-1 order-1">
                <div *ngFor="let item of first_col_menu" class="col-12 md:col-12 lg:col-12">
                    <div class="text-center border-round-sm" style="text-align: left!important;">
                        <label class="hoverable-label text-md" [innerHTML]="item.label" style="cursor: pointer;" (click)="routerClick(item.routerLink)"></label>

                    </div>
                </div>
            </div>
            <div class="flex flex-column flex-1 order-2">
                <div *ngFor="let item of second_col_menu" class="col-12 md:col-12 lg:col-12">
                    <div class="text-center border-round-sm" style="text-align: left!important;">
                        <label class="hoverable-label text-md" [innerHTML]="item.label" style="cursor: pointer;" (click)="item.routerLink && routerClick(item.routerLink)"></label>
                    </div>
                </div>
            </div>
            <div class="flex flex-column gap-4 flex-1 order-3">
                <div class="flex flex-column gap-2">
                    <div class="text-lg">
                        <img src="./../../../assets/img/xGame_Logo_white_new.webp" height="40" class="mr-2" (click)="routerClick(appSettings.UIURLHomePageHost)" style="cursor: pointer;"/>
                    </div>
                    <div class="text-lg">
                        308-309 Arcada 5, Lopez Jaena St., Tipolo
                    </div>
                    <div class="text-lg">
                        (032) 505 2433
                    </div>
                </div>
                <div class="flex flex-column">
                    <div class="text-lg font-bold" style="color: #FF107B;">
                        admin@xgame.co
                    </div>
                </div>
                <div class="flex flex-wrap gap-2">
                    <p-button icon="pi pi-twitter" styleClass="p-button-rounded p-button-outlined" class="flex-1"></p-button>
                    <p-button icon="pi pi-instagram" styleClass="p-button-rounded p-button-outlined" class="flex-1"></p-button>
                    <p-button icon="pi pi-facebook" styleClass="p-button-rounded p-button-outlined" class="flex-1"></p-button>
                    <p-button icon="pi pi-discord" styleClass="p-button-rounded p-button-outlined" class="flex-1"></p-button>
                    <p-button icon="pi pi-telegram" styleClass="p-button-rounded p-button-outlined" class="flex-1"></p-button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-column legal-section">
        <div class="grid ">
            <div *ngFor="let item of footer_options" class="col-12 md:col-6 lg:col-2">
                <div class="text-center p-2 border-round-sm">
                    <label class="hoverable-label text-md" [innerHTML]="item.label"></label>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap">
            <p style="color: gray;"> © Copyright 2023 - XGame by NexGen</p>
        </div>
    </div>
</footer>