.img-fluid{
    min-width: 100%;
}
.card .card-body {
    padding: 20px !important;
}
.scroll-demo {
    height: 400px !important;
}

.invalid {
  border: 2px solid red;
}

.inputAddress {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: darkgray;
}
