/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/test-results
.env
.env.backup
.phpunit.result.cache
.angular
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.override.yml
