.img-fluid{
    min-width: 100%;
}
.card .card-body {
    padding: 20px !important;
}
.scroll-demo {
    height: 400px !important;
}

.invalid {
  border: 2px solid red;
}

.inputAddress {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: darkgray;
}
.dropdown-size{
  min-width: 300px;
  width: fit-content;
  
  @media screen and (max-width: 600px) {
      width: 100%;
  }
}
.dropdown-item span {
  width: 100% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.dropdown-toggle{
  width: 320px;
  @media screen and (max-width: 375px) {
      width: 100%;
  }
}
.game_logo{
  width: 80px; height: auto;
  @media screen and (max-width: 668px) {
      width: 100%;
  }
}
.dropdown-menu .dropdown-item:hover {
  background-color: var(--light-bg);
}
.product-box .product-img .product-hover ul li {
  width: 63px;
  height: 63px;
  
}
.product-box .product-img .product-hover ul li i {
  font-size: 36px;
}
.dropdown-size{
  @media screen and (max-width: 600px) {
    overflow-x: scroll;
  }
}