<div class="card ">
    <div class="card-body" style="display: flex; gap: 3rem;">
        <img src="./../../../../../../../assets/images/polkadot/polkadot_icon.webp" style="    max-height: 90px;
        width: auto;"/>
        <div>
            <h3>{{appSettings.wallet_info.wallet_meta_name}}</h3>
            <span class="my-portfolio">{{appSettings.wallet_info.wallet_keypair_display}}</span>
            
            <div style="display: flex; gap: 1rem;">
                <a href="javascript:void(0);"><span><i class="fa fa-edit"></i> Change</span></a>
                <a href="javascript:void(0);"><span><i class="fa fa-copy"></i> Copy</span></a>
            </div>
        </div>
    </div>
  </div>
  