<!-- <div class="card portfolio-card">
  <div class="card-header card-no-border">
    <div class="header-top">
      <h5 class="m-0">{{ appSettings.translate("Token Transfer") | translate}}</h5>
      <div class="card-header-right-icon"></div>
    </div>
  </div>
  <div class="card-body p-t-0">
    <div class="container px-md-5">

      <div class="row">

        <div class="col-md-6 mb-3">
          <label for="tokenSelect">{{"Select Token:" | translate}}</label>
          <select id="tokenSelect" [(ngModel)]="selectedToken" class="form-control">
            <option *ngIf="loading" [value]="'loading'">Loading...</option>
            <option *ngFor="let token of tokens" [value]="token.symbol">{{ token.symbol }}</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label>{{"Total Tokens:" | translate}}</label>
          <p>{{ getTotalTokens() | translate }}</p>
        </div>

        <div class="col-md-12 mb-3">
          <label for="amountInput">{{"Amount" | translate}}:</label>
          <input
            id="amountInput"
            [(ngModel)]="amount"
            (input)="onAmountInputChange()"
            type="number"
            class="form-control"
            [class.is-warning]="amountWarning"
            [disabled]="selectedToken === undefined"
          />
          <div *ngIf="amountWarning" class="text-warning">{{"Amount exceeds the remaining balance." | translate}}</div>
        </div>

        <div class="col-md-12 mb-3">
          <label for="walletAddressInput">{{"Wallet Address:" | translate}}</label>
          <input
            id="walletAddressInput"
            [(ngModel)]="walletAddress"
            (input)="onWalletAddressChange(walletAddress)"
            type="text"
            class="form-control"
            [class.is-invalid]="!isWalletValid"
          />
        </div>

        <div class="col-12 text-center">
          <button class="btn btn-primary"
            (click)="open(transferConfirmationModal)"
            [disabled]="!isValidInput()">{{"Transfer" | translate}}
          </button>
        </div>

        <ng-template #transferConfirmationModal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{"Confirm Transfer" | translate}}</h4>
          </div>
          <div class="modal-body">
            <p>{{"Are you sure you want to transfer" | translate}} {{ amount | translate }} {{ selectedToken | translate}} to:</p>
            <p>{{ walletAddress | translate}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">{{"Cancel" | translate}}</button>
            <button type="button" class="btn btn-primary" (click)="modal.close('confirm')">{{"Confirm" | translate}}</button>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-5 col-xl-6 col-lg-8 col-sm-12 col-xs-12 m-auto">
      <div class="card">
        <!-- <div class="card-header">
          <h3>Transfer With</h3>
        </div> -->
        <div class="card-body" >
          <div class="loader-box" style="height: 20vh;" *ngIf="loading">
            <div class="loader-30"></div>
          </div>
          <form class="needs-validation" [formGroup]="tokenTransferForm" *ngIf="!loading" (ngSubmit)="submitTransfer()">
            <div class="mb-3">
              <label>Transfer With</label>
              <div class="input-group mb-2">
                <input class="form-control" type="text" formControlName="amount" placeholder="Amount" aria-label="Amount" type="number" max="tokenTransferModel.balance" [(ngModel)]="tokenTransferModel.amount"/>
                <button class="btn btn-primary" (click)="select_token()" type="button">
                  <img src="https://resources.acala.network/tokens/ASEED.png" class="img-fluid " style="width: 36px;" *ngIf="tokenTransferModel.logo!='' && tokenTransferModel.logo!=undefined">
                  <span class="f-16 me-1">{{tokenTransferModel.symbol}}</span>
                  <i class="icon-angle-down"></i>
                </button>
              </div>
              <div *ngIf="tokenTransferForm.controls.amount.touched && tokenTransferForm.controls.amount.errors?.required" class="text text-danger mt-1" value="1">{{'Amount is required' | translate}}</div>

              <!-- <input class="form-control me-2" id="exampleInputPassword22" type="text" disabled="" placeholder="Transaction Fee: {{ tokenTransferModel.transaction_fee }}" /> -->
              <span class="d-flex justify-content-end">Balance {{tokenTransferModel.balance}}</span>
            </div>
            
            <div class="mb-3">
              <label>Wallet Address</label>
              <input class="form-control" id="exampleInputPassword22" formControlName="wallet_address" type="text" placeholder="" [(ngModel)]="tokenTransferModel.wallet_address"/>
              <div *ngIf="tokenTransferForm.controls.wallet_address.touched && tokenTransferForm.controls.wallet_address.errors?.required" class="text text-danger mt-1" value="1">{{'Wallet Address is required' | translate}}</div>

              <div *ngIf="tokenTransferForm.controls.wallet_address.touched && tokenTransferForm.controls.wallet_address.errors?.invalidWalletAddress" class="text text-danger mt-1">
                {{ 'Invalid wallet address' | translate }}
              </div>
            </div>
            <!-- <span class="d-flex justify-content-end">Total {{ calculateTotal() }}</span> -->


            <div class="d-flex justify-content-center">
              <button class="btn btn-primary btn-lg" [disabled]="!tokenTransferForm.valid" type="submit">Transfer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
