.config-popup {
    display: block;
    border-bottom: none;
}

.icofont-chat:before{
    color: black;
}
.customizer-contain{
    top: 0;
}


.customizer-links .nav-link span {
    background-color: white;
    border-radius: 100px;
    padding: 10px 20px;
    top: -10%;
    color: black;
    webkit-animation: growX 1s ease 0s both;
    -moz-animation: growX 1s ease 0s both;
    -o-animation: growX 1s ease 0s both;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}
.customizer-links > .nav {
    border-radius: 100px;
    background-color: var(--theme-deafult);
    padding: 5px;
}
// .customizer-links.open {
//     right: 335px;
// }

// @keyframes typing {
//     from {
//       width: 0
//     }
//   }
//   @keyframes blink {
//     50% {
//       border-color: transparent
//     }
//   }

  .customizer-links {
    display: unset;
    top: 95%;
    right: 1%;
    position: fixed;
}
// .customizer-links > .nav {
//     padding: unset;
//     background: unset;
// }
.customizer-links .nav-link i {
    font-size: 25px;
}
.tab-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.customizer-footer{
    padding: 0px 15px;
}