<app-breadcrumb [title]="'Portfolio' | translate" [items]="['Dashboard' | translate]" [active_item]="'Portfolio' | translate"></app-breadcrumb>
  <div class="container-lg p-t-20">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-my-portfolio></app-my-portfolio>
       </div>
       <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <app-portfolio-profile></app-portfolio-profile>
       </div>
       <div class="col-xl-12">
        <app-token-profile></app-token-profile>
      </div>
      <div class="col-xl-12  p-r-0 p-l-0">
        <app-nft></app-nft>
      </div>
    </div>
  </div>