<app-breadcrumb [title]="appSettings.translate('Portfolio')" [items]="[appSettings.translate('Dashboard')]" [active_item]="appSettings.translate('Portfolio')"></app-breadcrumb>


<div class="container-fluid section-justify-center" style="padding-left: 0px; padding-right: 0px;">
  <div class="col-xxl-8 col-xl-8 col-lg-10 col-md-10 col-sm-11 col-xs-12">
    <div class="row" style="    padding-left: 0px;
    padding-right: 0px;">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <app-my-portfolio></app-my-portfolio>
       </div>
       <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <app-portfolio-profile></app-portfolio-profile>
       </div>
       <div class="col-xl-12">
        <app-token-profile></app-token-profile>
      </div>
      <app-nft></app-nft>
    </div>
  </div>
</div>
