/* Define the keyframes for sliding in from the top */
@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the app-header and app-sidebar */
  app-sidebar {
    animation: slideInFromTop 0.5s ease forwards; /* Change duration and timing function as needed */
  }
//   .page-wrapper.horizontal-wrapper .page-body-wrapper .page-body {
//     margin-top: 149px;
// }