<!-- page-wrapper Start-->
<div [ngClass]="layout.config.settings.layout_type">
  <div class="page-wrapper" id="canvas-bookmark" [ngClass]="layoutClass">
    <app-header></app-header>
    <!-- Page Body Start-->
    <div class="page-body-wrapper">
      <div class="sidebar-wrapper" [attr.icon]="layout.config.settings.icon" [class.close_icon]="navServices.collapseSidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="page-body">
        <main [@fadeInAnimation]="getRouterOutletState(o)">
          <app-breadcrumb [title]="'Dashboard'" [items]="['Dashboard']" [active_item]="'Portfolio'"></app-breadcrumb>
          <!-- <router-outlet #o="outlet"></router-outlet> -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-3 col-xl-3 box-col-4">
                <!-- <app-dashboard-left-content></app-dashboard-left-content> -->
                <app-balance-profile></app-balance-profile>
              </div>
              <div class="col-xxl-9 col-xl-9 box-col-8e">
                <router-outlet #o="outlet"></router-outlet>
              </div>
            </div>
          </div>
          
        </main>
      </div>
      <!-- footer start-->
      <footer class="footer">
        <app-footer></app-footer>
      </footer>
      <!-- footer End-->
    </div>
    <!-- Page Body End-->
  </div>
</div>
<div class="bg-overlay1"></div>
<app-customizer></app-customizer>
<!-- page-wrapper End-->
