<div class="row"> 
   <!-- <div class="col-sm-4"> 
    <app-coin [data]="Bitcoin"></app-coin>
   </div>
   <div class="col-sm-4"> 
    <app-coin [data]="Ethereum"></app-coin>
   </div>
   <div class="col-sm-4"> 
    <app-coin [data]="LeaveTravel"></app-coin>
   </div> -->
   <div class="col-xl-12"> 
    <app-gem-profile></app-gem-profile>
  </div>
   <div class="col-xl-12"> 
     <app-nft></app-nft>
   </div>
   <div class="col-xl-12"> 
    <app-gnt-transaction></app-gnt-transaction>
  </div>
   <div class="col-xl-12"> 
    <app-gem-transaction></app-gem-transaction>
  </div>
   <!-- <div class="col-xl-12">
     <app-currencies></app-currencies>
   </div> -->
   <!-- <div class="col-sm-6"> 
     <app-buy-coins></app-buy-coins>
   </div>
   <div class="col-sm-6"> 
    <app-sell-coins></app-sell-coins>
   </div> -->
 </div>