<div class="row">
  <div class="col-xxl-4 col-xl-5 col-md-6 col-sm-12">
    <app-balance-profile></app-balance-profile>
   </div>
   <div class="col-xxl-8 col-xl-7 col-md-6 col-sm-12">
    <app-portfolio-profile></app-portfolio-profile>
   </div>
   <!-- <div class="col-xl-12">
    <app-gnt-transaction></app-gnt-transaction>
  </div> -->
  <div class="col-xl-12">
    <app-gem-profile></app-gem-profile>
  </div>
   <!-- <div class="col-xl-12">
    <app-gem-transaction></app-gem-transaction>
  </div> -->
 </div>
