.btn-primary{
    height: 35px;
    padding: 0 18px;
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    width: max-content;
    // background: linear-gradient(90deg, #0ffeff .24%, #3b4af7 100.6%);
    background: linear-gradient(103.75deg, #33B1EE -13.9%, var(--theme-deafult) 79.68%);
    align-content: center;
}
span{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}
.btn-primary:hover{
    svg{
        animation: tada 1.5s ease infinite;
    }
}
.connect-wallet{
    @media (max-width: 425px) {
        display: none;
    }
}
.login-card{
    min-height: unset;
    background: unset;
}
.login-card .login-main{
    background-color: unset;
}
.show-hide{
    top: 55px !important;
}
.login-card .login-main .theme-form input {
    padding-right: 65px;
}

.show-hide span.copy:before {
    content: "" !important;
}
