<app-breadcrumb [title]="appSettings.translate('Transfer' | translate)" [items]="[appSettings.translate('Dashboard' | translate)]" [active_item]="appSettings.translate('Transfer' | translate)"></app-breadcrumb>

<div class="container-fluid section-justify-center p-t-20" style="padding-left: 0px; padding-right: 0px;">
  <div class="container-lg">
    <div class="row" style=" padding-left: 0px; padding-right: 0px;">
      <div class="col-xl-12">
        <app-token-transfer></app-token-transfer>
      </div>
    </div>
  </div>
</div>
