<app-breadcrumb [title]="appSettings.translate('Transfer' | translate)" [items]="[appSettings.translate('Dashboard' | translate)]" [active_item]="appSettings.translate('Transfer' | translate)"></app-breadcrumb>

<div class="container-fluid section-justify-center" style="padding-left: 0px; padding-right: 0px;">
  <div class="col-xxl-9 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" style=" padding-left: 0px; padding-right: 0px;">
      <div class="col-xl-12">
        <app-token-transfer></app-token-transfer>
      </div>
    </div>
  </div>
</div>
