<div class="card portfolio-card">
  <div *ngIf="!loading">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Tokens</h5>
        <div class="card-header-right-icon">
          <!-- <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" (click)="toggle()">BTC</button>
            <div class="dropdown-menu dropdown-menu-end" [class.show]="show"><a class="dropdown-item" href="#">ETH</a><a class="dropdown-item" href="#">USD</a><a class="dropdown-item" href="#">LTC</a></div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="card-body p-t-0">
      <div class="row">
        <!-- <div class="col-xxl-12 col-xl-7 col-sm-6 box-col-6">
          <div class="portfolio-chart-container">
            <div id="portfolio-chart">
              <apx-chart [series]="portfolio.series" [chart]="portfolio.chart" [plotOptions]="portfolio.plotOptions" [colors]="portfolio.colors" [labels]="portfolio.labels" [fill]="portfolio.fill" [responsive]="portfolio.responsive"></apx-chart>
            </div>
          </div>
        </div> -->
        <div class="col-xxl-12 col-xl-12 col-sm-12 col-md-12 box-col-12">
          <div class="portfolio-table recent-table table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="f-light" style="min-width: 20px;">Tokens</th>
                  <th class="f-light">Quantity</th>
                  <th class="f-light">Price</th>
                  <th class="f-light text-end">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      <!-- <div class="currency-icon warning">
                        <svg>
                          <use href="assets/svg/icon-sprite.svg#beta"></use>
                        </svg>
                      </div> -->
                      <div>
                        <h6 class="f-14 mb-1">{{ tokenSymbol }} </h6>
                        <!-- <div class="d-flex align-items-center gap-1"><span class="status bg-success"></span><span class="f-light">EGEM</span></div> -->
                      </div>
                    </div>
                  </td>
                  <td>{{ portfolioModel.token_quantity }}</td>
                  <td>{{ portfolioModel.conversion_rate | number:'1.2-2' }} {{ portfolioModel.currency }} / {{ tokenSymbol }}</td>
                  <td class="text-end">{{ portfolioModel.amount | number:'1.2-2' }} {{ portfolioModel.currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container loader-box" style="height: 20vh;" *ngIf="loading">
    <div class="loader-30"></div>
  </div>
</div>
