.footer-link{
    display: flex;
    height: 100%;
    width: 100%;
}
.btn-light{
    padding: 12px;
}

.copyright{
    text-align: center;
    border-top: 1px solid #374558;
}
body.dark-only .page-wrapper.horizontal-wrapper .footer > app-footer > .copyright{
    background-color: hsl(225, 14%, 17%);
}
.footer-info{
    display: flex; gap: 0.5rem; flex-direction: column
}
.social-media{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-end;
    gap: 0.5rem;
    @media (max-width: 749px) {
        justify-content: flex-start;
    }
}
div > .main_menu{
    justify-content: flex-end;
    li:not(:first-child) {
        padding-left: 20px;
    }
}

.row > div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    margin-bottom: 20px;
}
div ul li a {
    color: #2F2F3B ;
}

::ng-deep body.dark-only div ul li a {
    color: #98a6ad !important;
}
.footer_section{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}
.footer_section > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}
ul{
    display: flex !important;
    gap: 0.5rem;
    flex-wrap: wrap;
}
a:hover{
    color: var(--theme-deafult) !important;
}
