<div class="media profile-media">
  <!-- <img class="b-r-10" src="assets/images/dashboard/profile.png" alt=""> -->
  <div style="padding: 4px 6px; display: flex;">
    <i class="icofont icofont-wallet icon-size-wallet"></i>
  </div>
  <div class="media-body" style="margin-left: 5px;">
    <span>{{appSettings.wallet_info.wallet_meta_name}}</span>
    <p class="mb-0 font-roboto">{{appSettings.wallet_info.wallet_keypair_display}} <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>

<ul class="profile-dropdown onhover-show-div">
  <li style="display: flex; justify-content: space-between;">
    <span>{{appSettings.translate("Balance")}}:</span>
    <span>{{appSettings.wallet_info.wallet_balance_nms}} {{ tokenSymbol }}</span>
  </li>
  <li style="display: flex; justify-content: space-between;">
    <span>{{appSettings.translate("Wallet")}}:</span>
    <span style="    display: flex; gap: 0.5rem;">{{appSettings.wallet_info.wallet_keypair_display}} <a href="javascript:void(0);" (click)="copyInputMessage(appSettings.wallet_info.wallet_keypair)"><i class="fa fa-copy"></i></a></span>
  </li>
  <li><a href="https://dashboard.xgame.live/"><app-feather-icons [icon]="'settings'"></app-feather-icons><span>{{appSettings.translate("Dashboard")}}</span></a></li>
  <li><a href="javascript:void(0);" (click)="logout()"><app-feather-icons [icon]="'log-in'"></app-feather-icons><span>{{appSettings.translate("Log Out")}}</span></a></li>
</ul>
