<div class="container-child">
  <div class="flex flex-wrap justify-content-center">
      <div>
          <img [src]="nft_model.image_path" style="height: 200px; width: auto;">
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 30px">
          <span class="p-float-label">
          <input type="text" id="inputtext" class="p-inputtext-sm"
            [(ngModel)]="nft_model.name" [disabled]="true"
            [style]="{ width: '100%' }" pInputText />
          <label for="inputtext" class="p-text-sm">NFT Name</label>
          </span>
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 30px">
          <span class="p-float-label">
              <input type="text" id="inputtext" class="p-inputtext-sm"
              [(ngModel)]="nft_model.category" [disabled]="true"
              [style]="{ width: '100%' }" pInputText />
          <label for="inputtext" class="p-text-sm">Category</label>
          </span>
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 30px">
          <span class="p-float-label">
            <input type="text" id="inputtext" class="p-inputtext-sm"
            [(ngModel)]="nft_model.collection" [disabled]="true"
            [style]="{ width: '100%' }" pInputText />
          <label for="inputtext" class="p-text-sm">Collection</label>
          </span>
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 30px">
          <span class="p-float-label">
              <textarea inputId="textarea" rows="4" style="resize: none;" cols="30"
                [(ngModel)]="nft_model.description" [disabled]="true"
                [style]="{'width': '100%'}" pInputTextarea >
              </textarea>
          <label for="inputtext" class="p-text-sm">Description</label>
          </span>
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
      <div fxFlex="100" style="padding-top: 30px">
          <span class="p-float-label">
              <input type="number" id="inputtext" class="p-inputtext-sm"
                [(ngModel)]="nft_model.price" optionLabel="name"
                optionValue="value" [disabled]="true"
                [style]="{ width: '100%' }" pInputText />
          <label for="inputtext" class="p-text-sm">Price</label>
          </span>
      </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxFLex="100">
    <div fxFlex="100" style="padding-top: 30px">
        <span class="p-float-label">
        <p-dropdown [options]="is_for_saleOptions" (onChange)="onIsForSaleSelect($event)"
          [(ngModel)]="nft_model.is_for_sale"appendTo="body" [style]="{ width: '100%' }"
          optionLabel="name" optionValue="value">
        </p-dropdown>
        <label for="inputtext" class="p-text-sm">Is For Sale</label>
        </span>
    </div>
  </div>

  <div class="flex flex-row justify-content-end pt-3 gap-2">
    <!-- <div fxFlex="100" style="padding-top: 30px;"> -->
      <button pButton type="button" label="Update" id="save"
        (click)="save()" icon="pi pi-check" class="primary"
        [loading]="loading_button">
      </button>
      <button pButton type="button" label="Close" id="close"
        (click)="close()" icon="pi pi-times" class="p-button-outlined p-button-secondary"
        [loading]="this.loading_button">
      </button>
    <!-- </div> -->
  </div>
</div>
