<app-breadcrumb [title]="appSettings.translate('Cash-In' | translate)" [items]="[appSettings.translate('Dashboard' | translate)]" [active_item]="appSettings.translate('Cash-In' | translate)"></app-breadcrumb>
<div class="container-lg section-justify-center">
  <div class="row" style="    padding-left: 0px;
  padding-right: 0px;">
    <div class="col-xxl-5 col-xl-5 col-md-5 col-sm-5 col-xs-12">
      <!-- <app-dashboard-left-content></app-dashboard-left-content> -->
      <app-my-portfolio></app-my-portfolio>
      <app-cash-in-middle-content></app-cash-in-middle-content>
    </div>
      <!-- <div class="col-xxl-9 col-xl-8 col-md-7 col-sm-12 box-col-8e">
        <app-cryptocurrency-prices></app-cryptocurrency-prices>
      </div> -->
      
  </div>
</div>