/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/app.scss";

.router-wrapper  {
    position:  relative;
    overflow:  hidden;
    width:  100vw;
    height:  calc(100%  -  47px);
    perspective:  1200px;
    transform-style:  preserve-3d;
}

:host  {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}


// .sidebar-main{
//     display: flex;
//     justify-content: flex-end;
//     @media screen and (max-width: 990px){
//         display: unset;
//         justify-content: unset;
//     }
// }
.logo-wrapper{
    display: flex;
    justify-content: space-between;
}

.logo-wrapper > .back-btn > i{
    cursor: pointer;
}

.onhover-dropdown {
    cursor: unset;
}
.page-wrapper .page-header {
    max-width: unset;
}

.page-wrapper .page-header .header-wrapper .nav-right .notification-dropdown {
    @media screen and (max-width: 480px){
        left: unset !important;
        right: 20px !important;  
    }
}
// .page-wrapper .page-body-wrapper .page-title{
//     margin: 0px -9px 30px;

// }
// .nav-link {
//     display: flex;
    
// }
.customizer-links {
    display: unset;
    top: 95%;
    position: fixed;
}
.customizer-links > .nav {
    padding: unset;
}
.customizer-links .nav-link i {
    font-size: 30px;
}
// .page-wrapper.horizontal-wrapper .page-body-wrapper .sidebar-wrapper .sidebar-main .sidebar-links .simplebar-wrapper .simplebar-mask .simplebar-content-wrapper .simplebar-content > li > a.active {
//     background-color: #2F2F3B;
// }
.customizer-footer{
    width: 333px;
    position: fixed;
    bottom: 0;
    padding: 0px 25px 0px 25px;
}
.feature-products .filter-toggle {
    @media screen and (max-width: 767.98px) {
        background-color: var(--recent-chart-bg);
    }
}

.page-wrapper .page-header .header-wrapper .nav-right .profile-dropdown {
    width: 200px;
    left: -55px;
    @media screen and (max-width: 480px) {
        width: 280px;
    }
}

.icon-lists div:hover {
    background-color: var(--sidebar-border);
}

.button-back-wallet{
    padding: unset;
    border-radius: 100px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

body.dark-only .page-wrapper .page-body-wrapper .page-body .card:not(.email-body).balance-box {
    background-blend-mode: unset;
}

.btn-primary:disabled {
    background-color: var(--theme-deafult) !important;
    border-color: var(--theme-deafult) !important;
}
.icon-size{
    font-size: 20px !important;
    @media screen and (max-width: 575.98px){
        font-size: 18px !important;
    }
}
.icon-size-wallet{
    font-size: 25px !important;
    @media screen and (max-width: 575.98px){
        font-size: 23px !important;
    }
}