<p-menubar [model]="header_menu" id="mainNav">
    <ng-template pTemplate="start">
        <img src="./../../../assets/img/xGame_Logo_white_new.webp" height="40"/>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button icon="pi pi-ellipsis-v" (click)="wallet.toggle($event)" styleClass="p-button-rounded p-button-text" class="ellipsis"></p-button>
        <p-overlayPanel #wallet appendTo="body">
            <div class="flex gap-2 flex-wrap p-overlayPanel-element">
                <p-dropdown [options]="language_list" [(ngModel)]="selected_language" optionLabel="language"  optionDisabled="status" class="language_dropdown" (onChange)="onChangeLanguage($event)"*ngIf="language_list.length>0">
                    <ng-template pTemplate="selectedItem" >
                        <div class="flex align-items-center gap-2" *ngIf="selected_language" >
                            <span class="pi pi-language"></span>
                    </div>
                    </ng-template>
                    <ng-template let-language  pTemplate="item">
                        <div class="capitalize">
                            <img [src]="language.flag_image_url" width="40" height="20" class="image-icon" />
                            <!-- {{ appSettings.translate(language.language) }} -->
                        </div>
                    </ng-template>
                </p-dropdown>

                <p-dropdown [options]="wallet_menu" [(ngModel)]="selected_wallet" optionLabel="wallet_net"  optionDisabled="status" class="network-hide">
                    <ng-template pTemplate="selectedItem" >
                        <div class="flex align-items-center gap-2" *ngIf="selected_wallet">
                            {{appSettings.translate(selected_wallet.wallet_net)}}
                      </div>
                    </ng-template>
                    <ng-template let-option  pTemplate="item">
                        <div style="width: 145px;">
                            {{ option.wallet_net }}
                        </div>
                      </ng-template>
                </p-dropdown>

                <p-button icon="pi pi-wallet" (click)="!is_connect_wallet ? dashboard_connect_wallet() : op.toggle($event)"
                styleClass="p-button-rounded p-button-text"
                [pTooltip]="!is_connect_wallet ? 'Connect Wallet' : ''"
                tooltipPosition="bottom">
              </p-button>

            </div>
        </p-overlayPanel>



        <p-dropdown [options]="language_list" [(ngModel)]="selected_language" optionLabel="language"  optionDisabled="status" class="language_dropdown not-ellipsis" (onChange)="onChangeLanguage($event)"*ngIf="language_list.length>0">
            <ng-template pTemplate="selectedItem" >
                <div class="flex align-items-center gap-2" *ngIf="selected_language" >
                    <!-- <span class="pi pi-language"></span> -->
                    <div class="text-white">
                        <!-- {{appSettings.translate(selected_language.language)}} -->
                        <img [src]="selected_language.flag_image_url" width="40" height="20" class="image-icon" />
                    </div>
                </div>
            </ng-template>
            <ng-template let-language  pTemplate="item">
                <div class="capitalize">
                    <img [src]="language.flag_image_url" width="40" height="20" class="image-icon" />
                    <!-- {{ appSettings.translate(language.language) }} -->
                </div>
            </ng-template>
        </p-dropdown>


        <p-dropdown [options]="wallet_menu" [(ngModel)]="selected_wallet" optionLabel="wallet_net"  optionDisabled="status" class="network">
            <ng-template pTemplate="selectedItem" >
                <div class="flex align-items-center gap-2" *ngIf="selected_wallet">
                    <div class="text-white">{{appSettings.translate(selected_wallet.wallet_net)}}</div>
              </div>
            </ng-template>
            <ng-template let-option  pTemplate="item">
                <div style="width: 145px;">
                    {{ option.wallet_net }}
                </div>
              </ng-template>
        </p-dropdown>

        <p-button icon="pi pi-wallet" (click)="!is_connect_wallet ? dashboard_connect_wallet() : op.toggle($event)"
        styleClass="p-button-rounded p-button-text" class="not-ellipsis"
        [pTooltip]="!is_connect_wallet ? 'Connect Wallet' : ''"
        tooltipPosition="bottom" >
      </p-button>

        <!-- WAllet info -->
        <!-- <p-button (click)="op.toggle($event)" icon="pi pi-wallet" class="not-ellipsis" styleClass="p-button-rounded p-button-text" [style]="{ 'background-color': 'unset' }" *ngIf="is_connect_wallet"></p-button> -->

        <p-overlayPanel #op>
            <div class="flex flex-column gap-3">
                <div style="padding-left: 1.25rem;">
                    <div class="text-lg flex gap-3">
                        <i class="pi pi-user text-lg"></i>
                        <span>{{wallet_info.wallet_meta_name}}</span>
                    </div>
                    <div class="text-base">
                        {{appSettings.translate('Wallet')}}
                    </div>
                    <div class="text-base opacity-50 text-overflow-ellipsis overflow-hidden">
                        {{wallet_info.wallet_keypair}}
                    </div>
                    <div class="text-base">
                        {{appSettings.translate('Balance')}}: {{wallet_info.wallet_balance_nms}} NMS
                    </div>
                </div>
                <p-menu [model]="profile_menu" [style]="{'border-width': '0px'}"></p-menu>
            </div>
        </p-overlayPanel>
    </ng-template>
</p-menubar>
