<p-menubar [model]="header_menu" id="mainNav" class="centered-menubar">
    <ng-template pTemplate="start">
        <img src="./../../../assets/img/XGame_Logo_white.png" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end" styleClass="wallet">
        <div *ngIf="!is_connect_wallet">
            <p-dropdown [options]="wallet_menu" [(ngModel)]="selected_wallet" optionLabel="wallet_net"  optionDisabled="status">
                <ng-template pTemplate="selectedItem" >
                    <div class="flex align-items-center gap-2" *ngIf="selected_wallet" style="display: flex;">
                        <img [src]="selected_wallet.logo" width="auto" height="20" class="image-icon"/>
                        <div class="text-net">{{ selected_wallet.wallet_net }}</div>
                  </div>
                </ng-template>
                <ng-template let-option  pTemplate="item">
                    <img [src]="option.logo" width="auto" height="20" class="image-icon" />
                    {{ option.wallet_net }}
                  </ng-template>
            </p-dropdown>
    
            <p-button class="text-net" label="Connect Wallet" styleClass="p-button-sm" (click)="connectWallet()"></p-button>
    
            <p-button class="text-icon" icon="pi pi-wallet" styleClass="p-button-rounded p-button-info" (click)="connectWallet()"></p-button>
        </div>

        <p-button (click)="op.toggle($event)" icon="pi pi-user" styleClass="p-button-rounded p-button-text" [style]="{ 'background-color': 'unset' }" *ngIf="is_connect_wallet"></p-button>
        
        <p-overlayPanel #op>
            <div class="flex flex-column gap-3">
                <div style="padding-left: 1.25rem;">
                    <div class="text-lg flex gap-3">
                        <i class="pi pi-user text-lg"></i>
                        <span>{{wallet_info.wallet_meta_name}}</span>
                    </div>
                    <div class="text-base">
                        Wallet
                    </div>
                    <div class="text-base opacity-50 text-overflow-ellipsis overflow-hidden" style="width: 150px;">
                        {{wallet_info.wallet_keypair}}
                    </div>
                    <div class="text-base">
                        Balance: {{wallet_info.wallet_balance_nms}} NMS
                    </div>
                </div>
                <p-menu [model]="profile_menu" [style]="{'border-width': '0px'}"></p-menu>
            </div>
        </p-overlayPanel>

    </ng-template>
</p-menubar>
 