:host ::ng-deep .p-menubar-start > img{
    max-height: 23px;
    max-width: 82px;
    margin-top: 5px;
    margin-right: 20px;
}

:host ::ng-deep .p-menubar > p-menubarsub{
    width: 100%;
}
:host ::ng-deep.p-menubar ul {
    justify-content: flex-end;
}
:host ::ng-deep .p-menubar {
    height: 75px;
    padding:  0 20px;
    box-shadow: 0 4px 20px 0 rgba(10,10,10, .8);
    background: rgba(33, 36, 40, .9);
    border-radius: unset;
    border:unset;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: white;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    @media screen and (max-width: 960px){
        // padding: 20px;
        border: 0px;
    }
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text:hover{
    color: #0038FF !important;
}

:host ::ng-deep .p-menubar-root-list .p-menuitem-link:hover {
    background-color: unset !important;
}

:host ::ng-deep.p-menubar .p-menubar-end{
    display: flex;
    gap: 1rem;
    @media screen and (max-width: 960px){
        margin-left: unset;
        gap: unset
    }

}

:host ::ng-deep .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    @media screen and (max-width: 960px){
        background-color: #212428;
        background-position: 0 0;
        background-size: auto;
    }
}

:host ::ng-deep .p-menubar-start{
    @media screen and (max-width: 960px){
        margin-right: 58%;
    }
    @media screen and (max-width: 860px){
        margin-right: 53%;
    }
    @media screen and (max-width: 760px){
        margin-right: 48%;
    }
    @media screen and (max-width: 660px){
        margin-right: 38%;
    }
    @media screen and (max-width: 560px){
        margin-right: 28%;
    }
    @media screen and (max-width: 500px){
        margin-right: 18%;
    }    
    @media screen and (max-width: 450px){
        margin-right: 13%;
    }
    @media screen and (max-width: 420px){
        margin-right: 0%;
    }
    @media screen and (max-width: 400px){
        margin-right: 50%;
    }
}

:host ::ng-deep.p-menubar .p-menubar-button:active {
    background: unset;
    border: unset;
}
:host ::ng-deep.p-menubar .p-menubar-button:active {
    background: unset;
    border: unset;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    border-radius: 0px;
    text-transform: uppercase;
}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link :hover {
    color: unset !important;
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: unset;
}
.p-menuitem-active{
    border:unset;
}
:host ::ng-deep.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: unset;
}

:host ::ng-deep.p-menubar-root-list>.p-menuitem-active>p-menubarsub>.p-submenu-list {
    background-color: #212428;
    top:58px;
    border-radius: 5px;
}
:host ::ng-deep.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
    color: unset;
}

:host ::ng-deep.p-menubar .p-menuitem-link .p-menuitem-text {
    color: white;
}
:host ::ng-deep.p-menubar .p-menuitem-link {
    color:white
}
:host ::ng-deep.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
    color: white
}

:host ::ng-deep.p-dropdown-panel {
    background-color: #212428;
    top:15px;
    position: absolute;

}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    color: white;
    // background: #0038FF;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), #212428;
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: white;
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), #212428;
    color: white;
}
:host ::ng-deep.p-button.p-button-text {
    color: white;
}
:host ::ng-deep.p-button.p-button-text:hover {
    color: white;
}
:host ::ng-deep.p-dropdown .p-dropdown-label {
    display: inline-flex;
}
.language_dropdown{
    display: flex;
}


:host ::ng-deep.p-dropdown {
    background-color: unset;
    border: unset;
    color: white;
    font-weight: bold;
    border-radius: 25px;
}

:host ::ng-deep.p-icon {
    color: white;
}
:host ::ng-deep.pi-language {
    color: white;
}

:host ::ng-deep.p-element[ng-reflect-disabled="true"] {
    opacity: 0.5; /* Example: Reduce opacity for disabled options */
    cursor: not-allowed; /* Example: Change the cursor to indicate disabled state */
}

:host ::ng-deep .language_dropdown > .p-dropdown {
    background-color: unset;
}
:host ::ng-deep .language_dropdown .p-dropdown .p-dropdown-trigger {
    display: none;
}

.p-overlaypanel {
    position: fixed !important;
}

.ellipsis{
    display: none;
    @media screen and (max-width: 1100px){
        display: unset;
    }
}
.not-ellipsis{
    @media screen and (max-width: 1100px){
        display: none;
    }
}
:host ::ng-deep.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    color: #495057;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), #212428;
}
.network{
    @media screen and (max-width: 400px){
        display: none;
    }
}
.network-hide{
    display: none;
    @media screen and (max-width: 400px){
        display: unset;
    }
}

:host ::ng-deep .p-overlayPanel-element .language_dropdown .p-dropdown .p-dropdown-trigger {
    display: none !important;
}